# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Regex Engine (Python)/*
!/Regex Engine (Python)/task/
/Regex Engine (Python)/task/*
!/Regex Engine (Python)/task/regex
